@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.form-group {
    @apply flex flex-col;
}

.form-control {
    @apply border-b-2 border-[#f5af00] bg-transparent border-0 focus:ring-0;
}

.form-control[type="file"] {
    @apply border-0 focus:ring-0;
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }